RewriteEngine on
RewriteBase /

# Found here: https://www.df.eu/forum/threads/40007-mit-htaccess-auf-ssl-verweisen/page3
RewriteCond %{REMOTE_ADDR} !^62.67.200.4$
RewriteRule ^(.*)$ https://sslsites.de/%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteRule .* server.php [E=HTTP_AUTHORIZATION:%{HTTP:Authorization},L]

# Debugger: https://sslsites.de/ihre-domain.tld/system-cgi/cgi-debug/
# More: https://www.df.eu/forum/threads/25522-Besucher-IP-Adresse-und-sslsites-de

# Output buffering needs to be off, to prevent high memory usage
# php_flag output_buffering off

# This is also to prevent high memory usage
# php_flag always_populate_raw_post_data off

# This is almost a given, but magic quotes is *still* on on some
# linux distributions
# php_flag magic_quotes_gpc off

# SabreDAV is not compatible with mbstring function overloading
# php_flag mbstring.func_overload off
